<!-- <p>
{{appleList}}
</p> -->
<ul>
  <li *ngFor="let a of appleList">
    <div class="">
      Type: {{a.name}}
    </div>
    <div class="">
      Color: {{a.color}}
    </div>
  </li>
</ul>
<div>
  <form #appleForm="ngForm">
    <h4>Apple Form</h4>
    Name: <input type="text" [(ngModel)]="apple.name" name="name" required/> Color: <input type="text" [(ngModel)]="apple.color"
      name="color" required/>
    <button type="" (click)="addApple()" [disabled]="appleForm.form.invalid">

 Add Apple
 </button>
    <!--{{apple.name}} - {{ apple.color}}-->
  </form>
</div>
