
<div class=encounters-page>
    <div class="enconters-header">
    <h1>Recent Encounters</h1>
    <h2>See an alien? Report it!</h2>
</div>
    <ul class="encounters-list">
        <li *ngFor="let encounter of marsEncounters">
            <div>
            <p> {{encounter.date}} - {{ encounter.atype }}<br>
           {{ encounter.action}}</p>
           </div>
        </li>
    </ul>
<footer>
    
    <a class = "encounters-footer" [routerLink]="['/report']">Report Encounter</a>

    </footer>
</div>