.encounters-list {
    overflow: scroll;
    list-style-type: none;

}
.enconters-header {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1rem;
    span {
        display: block;
        font-size: 1rem;
    }
}

.encounters-page {
    display:flex;
    flex-direction: column;
    height: 100vh;
}
footer {
    background: black;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
padding: 4rem 1rem;

}
.encounters-footer {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-top: 2rem;
    text-align: center;
overflow: hidden;
width: 100vh;
}
