<div>
    
    <h1>Register</h1>

    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit($event)">
     
        <input type="text"  placeholder="Enter Name" formControlName="name"/>
        <input type="number"  placeholder="Enter Age" formControlName="age"/>

        <select formControlName="job_id">
            <option [value]="NO_JOB_SELECTED">--Select occupation--</option>
            <option *ngFor= "let job of marsJobs" [value]="job.id">{{job.name}}</option>
        </select>
      
        <button>Check in</button>
    </form>
</div>