.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.register-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: black;
    text-align: center;
}
.register-header {
    color: white;
    padding: 2rem 2rem;
}
.register-inputs {
border: 0;
    display:flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.register-input {
margin-bottom: 1.5rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background: black;
    color: white;
        height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
}
input::-webkit-input-placeholder {
  color: red;
}
.register-select::-webkit-input-placeholder {
  color: red;
}
.register-select {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: black;
    color: white;
     -webkit-appearance: none;
     margin-bottom: 1.5rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
 }
select.ng-pristine{
    color: red;   
 }
 
 